configure
config.guess
config.sub
ltmain.sh
aclocal.m4
missing
Makefile.in
Makefile
*.orig
*~
*.o
*.lo
.libs
_configs.sed
autom4te.cache/
config.log
config.status
examples/Readme-make
libtool
lela-config
lela/algorithms/libalgorithms.la
lela/liblela.la
lela/lela-config.h.in
lela/lela-config.h
lela/ring/libring.la
lela/randiter/libranditer.la
lela/stamp-h1
lela/util/libutil.la
util/convert
util/equal
util/diff
util/is-zero
util/submatrix
util/row-echelon-form
util/*.exe # for Windows
macros/libtool.m4
macros/ltoptions.m4
macros/ltsugar.m4
macros/ltversion.m4
macros/lt~obsolete.m4
tests/test-bitonic-sort
tests/test-blas-domain
tests/test-butterfly
tests/test-commentator
tests/test-companion
tests/test-dense
tests/test-det
tests/test-diagonal
tests/test-dif
tests/test-direct-sum
tests/test-ffpack
tests/test-frobenius
tests/test-getentry
tests/test-gf2
tests/test-integers
tests/test-rationals
tests/test-hilbert
tests/test-hom
tests/test-inverse
tests/test-isposdef
tests/test-ispossemidef
tests/test-vector
tests/test-matrix
tests/test-blas-generic-module
tests/test-blas-generic-module-gf2
tests/test-blas-zp-module
tests/test-blas-cblas-module
tests/test-minpoly
tests/test-modular
tests/test-modular-byte
tests/test-modular-double
tests/test-modular-short
tests/test-modular-int32
tests/test-modular-balanced-int32
tests/test-block-ring
tests/test-moore-penrose
tests/test-randiter-nonzero
tests/test-rank
tests/test-rational-matrix-factory
tests/test-scalar-matrix
tests/test-sparse
tests/test-subiterator
tests/test-submatrix
tests/test-subvector
tests/test-trace
tests/test-triplesbb
tests/test-vector-domain
tests/test-qlup
tests/test-zero-one
tests/test-solve
tests/test-nullspace
tests/test-smith-form-binary
tests/test-rational-solver
tests/test-rational-solver-adaptive
tests/test-last-invariant-factor
tests/test-charpoly
tests/test-givaro-zpz
tests/test-givaro-zpzuns
tests/test-optimization
tests/test-type-wrapper-ring
tests/test-hybrid-vector
tests/test-bit-subvector
tests/test-strassen-winograd
tests/test-elimination
tests/test-gauss-jordan
tests/test-splicer
tests/test-faugere-lachartre
tests/benchmark-blas
doc/tutorial.html
doc/reference-*
doc/reference.xml
doc/xml
doc/boost*bz2
doc/doxy.debug
